<div dir="rtl">
    
### מלאו את הקובץ ושלחו לרז

   - **ניתן למלא באנגלית או עברית**
   - **מומלץ להשתמש בהמשך באותו הקובץ להגשת הפרויקט (מיחקו את התא הזה)**
   - **הקפידו למלא טקסט בשדות מסוג מארק-דאון וקוד בשדות מסוג קוד (אחרת ירדו לכם נקודות)**
     
###   מלאו את כל הסעיפים. הניקוד ינתן באופן הבא:
- **שם הפרויקט (3-4 מילים) - 5 נקודות** 
- **שמות מלאים של כל חברי הצוות, ללא ת.ז - 5 נקודות**
- **תיאור הפרויקט (3-4 משפטים) - 10 נקודות**
- **קישור למקור ממנו הורדתם את הנתונים - 10 נקודות**
- **קריאת הקובץ מהגיטהאב שלכם - 10 נקודות**
- **הסבר על מקור הנתונים - 10 נקודות**
- **תיאור קצר של הדאטה בעזרת הפקודות שנלמדו בקורס - 20 נקודות**
- **שלוש שאלות ראשוניות של דברים שהיה מעניין אתכם להוציא מהקובץ - 30 נקודות**
#### בהצלחה !
</div>

# Project Name: `Behind the Headlines: Exploring Fake News`

### Project team members: 
- `Neta Aharoni`
- `Daniel Cohen`

### Project number: <insert here>
`3`

### Project description: 
`In this project, we analyze a dataset of news articles labeled as real or fake, from different media sources. Our goal is to find clear patterns that separate fake news from real news by looking at features like clickbait level, trust score, political bias, and more`

### Link to the data: 
[Fake News - Kaggle](https://www.kaggle.com/datasets/khushikyad001/fake-news-detection/data)

### Explain the data source:
`This data was gathered from Kaggle, and it was constructed using a mix of publicly available real and fake news sources, including:`

`1. Fact-Checked Real News:
Collected from trusted sources such as CNN, BBC, Reuters, The New York Times, and The Guardian.`

`2. Fake News & Misinformation:
Curated from known unreliable websites such as The Onion, InfoWars, and fabricated misinformation reports collected from fact-checking sites like Snopes, Politifact, and FactCheck.org.`

`3. Open Datasets:
Inspired by existing fake news detection datasets on Kaggle, academic research papers, and media bias tracking organizations`

----

#### Read you file from Github:

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/DanielCohen13/Fake_News/refs/heads/main/fake_news_dataset.csv"
fake_news_df = pd.read_csv(url)

#### Describe the data
* How many rows?
* How many columns?
* How many numeric columns? (not including numerical identifiers - numbers that uniquely define the row)
* How many categorical columns? (not including string identifiers -  values that uniquely define the row)

In [12]:
fake_news_df.shape

(4000, 24)

In [13]:
fake_news_df.describe()

,id,sentiment_score,word_count,char_count,has_images,has_videos,readability_score,num_shares,num_comments,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score
count,4000.000000,4000.000000,4000.000000,4000.0000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000
mean,2000.500000,-0.000645,795.655750,4277.0680,0.49650,0.484500,54.764595,25144.596750,489.870250,0.497000,49.960750,5.54925,0.494447,50.598110
std,1154.844867,0.574768,406.373871,2186.2073,0.50005,0.499822,14.404027,14387.537467,287.435733,0.500054,29.467911,2.87422,0.289138,28.932298
min,1.000000,-1.000000,100.000000,500.0000,0.00000,0.000000,30.020000,39.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.040000
25%,1000.750000,-0.490000,445.750000,2358.7500,0.00000,0.000000,42.480000,12781.750000,238.000000,0.000000,24.000000,3.00000,0.240000,25.915000
50%,2000.500000,-0.010000,793.000000,4287.0000,0.00000,0.000000,54.235000,25308.500000,483.000000,0.000000,50.000000,6.00000,0.490000,51.480000
75%,3000.250000,0.510000,1150.000000,6206.5000,1.00000,1.000000,67.215000,37453.500000,741.000000,1.000000,76.000000,8.00000,0.740000,75.580000
max,4000.000000,1.000000,1500.000000,7996.0000,1.00000,1.000000,79.980000,50000.000000,1000.000000,1.000000,100.000000,10.00000,1.000000,99.950000

In [14]:
fake_news_df.describe(include = 'object')

,title,author,text,state,date_published,source,category,political_bias,fact_check_rating,label
count,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000
unique,4000,5,4000,20,1416,13,6,3,3,2
top,Breaking News 1,Chris Lee,This is the content of article 1. It contains ...,California,30-01-2020,New York Times,Business,Left,Mixed,Fake
freq,1,819,1,225,11,351,724,1357,1372,2026

#### Write three questions you would like to answer using this data

1. `insert here`

2. `insert here`

3. `insert here`

<div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
  <span style="color: red;"><strong>— Do not proceed beyond this point. This is for the next steps, do not fill in —</strong></span>
</div>

---
### <span style="color:green"> Observation 1:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Observation 2:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Observation 3:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Summary</span>

> Anything you'd like to say - your conclusions, summary, how hard you worked etc.
> 
>    
>   
   

---